/*DESKTOP SCALING*/
@media only screen and (min-width: 640px) {
  .outer-paper {
    background-image: url("./icons/travel.jpg");
    background-repeat: repeat;
    background-size: 1394px 2000px;
    margin-top: 20px;
    margin: auto;
    padding: 20px;
    width: 80%;
    cursor: url("./icons/cur1158.png"), auto;
  }

  p {
    color: red;
  }

  h1 {
    color: purple;
  }

  .player-hand {
    display: flex;
  }

  .opponent-stats {
    display: flex;
  }

  .stack-last-card {
    margin: 10px 100px 10px 0;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .score-wrapper {
    flex-direction: column;
    font-family: MedievalSharp;
    font-size: 1.3em;
    white-space: pre-wrap;
    max-width: 100px;
    color: white;
  }

  .turn-wrapper {
    flex-direction: column;
    font-family: MedievalSharp;
    font-size: 1.8em;
    text-align: center;
    white-space: pre-wrap;
    max-width: 100px;
    margin-left: -100px;
    color: white;
  }

  @font-face {
    font-family: MedievalSharp;
    src: url("./icons/MedievalSharp/MedievalSharp.ttf");
  }
  .last-card-stats {
    display: flex;
    flex-direction: row;
    font-family: MedievalSharp;
    white-space: pre-wrap;
  }

  .heart-code-card-standard-without-transformation,
  .heart-code-card-standard {
    display: flex;
    font-family: MedievalSharp;
    z-index: 5;
    margin: 10px;
    width: 150px;
    height: 250px;
    border: 2px solid black;
    border-radius: 5px;
  }

  .heart-code-card-standard:hover {
    top: -20px;
  }

  .heart-code-card-standard-without-transformation {
    width: 150px;
    height: 250px;
    font-size: 1.3em;
    text-align: center;
    flex-direction: column;
    margin: 0 auto;
  }

  .heart-code-card-standard-without-transformation span {
    flex: 1;
    font-size: 0.7em;
    color: white;
    margin-top: 95%;
    margin-bottom: 0%;
  }

  .heart-code-card-red {
    background: red;
    color: white;
    background-image: url("./icons/ember-shot (1).png");
    background-size: 100px 100px;
    background-repeat: no-repeat;
    background-position: center;
    /* content: 'attack point(s)'; */
  }

  .heart-code-card-green {
    background: #79d379;
    color: white;
    background-image: url("./icons/magic-potion (1).png");
    background-size: 100px 100px;
    background-repeat: no-repeat;
    background-position: center;
  }

  .heart-code-card-back {
    background: white;
    background-image: url("./icons/heart-code-logo.png");
    color: white;
    background-size: 100px 100px;
    background-repeat: no-repeat;
    background-position: center;
  }

  .heart-code-card-stack {
    background-image: url("./icons/heart-code-logo.png");
    background-size: 100px 100px;
    background-repeat: no-repeat;
    background-position: center;
  }

  .heart-code-card-blue {
    background: lightskyblue;
    color: white;
    background-image: url("./icons/magic-portal.png");
    background-size: 100px 100px;
    background-repeat: no-repeat;
    background-position: center;
    /* content: 'counter-card!'; */
  }

  .heart-code-card-black {
    background: grey;
    color: white;
    background-image: url("./icons/diablo-skull (1).png");
    background-size: 100px 100px;
    background-repeat: no-repeat;
    background-position: center;
    /* content: '10 attack points'; */
  }

  .heart-code-card-purple {
    background: purple;
    color: white;
    background-image: url("./icons/crenulated-shield.png");
    background-size: 100px 100px;
    background-repeat: no-repeat;
    background-position: center;
    /* content: '+10 health'; */
  }
}
/*



MOBILE SCALING

*/
@media only screen and (max-width: 640px) {
  .outer-paper {
    margin-top: 20px;
    margin: auto;
    padding: 20px;
    width: 95%;
    cursor: url("./icons/cur1158.png"), auto;
  }

  .player-hand {
    display: flex;
  }

  .opponent-stats {
    display: flex;
  }

  .stack-last-card {
    margin: 10px 100px 10px 0;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .score-wrapper {
    flex-direction: column;
    font-family: MedievalSharp;
    font-size: 1em;
    white-space: pre-wrap;
    max-width: 100px;
    min-width: 100px;
  }

  .turn-wrapper {
    font-family: MedievalSharp;
    font-size: 1em;
    white-space: pre-wrap;
  }

  @font-face {
    font-family: MedievalSharp;
    src: url("./icons/MedievalSharp/MedievalSharp.ttf");
  }
  .last-card-stats {
    display: flex;
    flex-direction: row;
    font-family: MedievalSharp;
    white-space: pre-wrap;
  }

  .heart-code-card-standard-without-transformation,
  .heart-code-card-standard {
    display: flex;
    font-family: MedievalSharp;
    font-size: 1em;
    z-index: 5;
    margin: 10px;
    width: 100px;
    height: 200px;
    border: 2px solid black;
    border-radius: 5px;
  }

  .heart-code-card-standard:hover {
    top: -20px;
  }

  .heart-code-card-standard-without-transformation {
    font-size: 1em;
    text-align: center;
    flex-direction: column;
  }

  .heart-code-card-standard-without-transformation span {
    flex: 1;
    font-size: 0.85em;
    color: white;
    margin-top: 125%;
  }

  .heart-code-card-red {
    background: red;
    color: white;
    background-image: url("./icons/ember-shot (1).png");
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
    /* content: 'attack point(s)'; */
  }

  .heart-code-card-green {
    background: #79d379;
    color: white;
    background-image: url("./icons/magic-potion (1).png");
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
    /* content: '+ health'; */
  }

  .heart-code-card-back {
    background-image: url("./icons/heart-code-logo.png");
    color: white;
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
  }

  .heart-code-card-stack {
    background-image: url("./icons/heart-code-logo.png");
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
  }

  .heart-code-card-blue {
    background: lightskyblue;
    color: white;
    background-image: url("./icons/magic-portal.png");
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
    /* content: 'counter-card!'; */
  }

  .heart-code-card-black {
    background: grey;
    color: white;
    background-image: url("./icons/diablo-skull (1).png");
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
    /* content: '10 attack points'; */
  }

  .heart-code-card-purple {
    background: purple;
    color: white;
    background-image: url("./icons/crenulated-shield.png");
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
    /* content: '+10 health'; */
  }
}

/*# sourceMappingURL=GameDetails.css.map */
