/*DESKTOP SCALING*/
@media only screen and (min-width: 640px) {
  .outer-paper {
    margin-top: 20px;
    margin: auto;
    padding: 20px;
    width: 80%;
    cursor: url("./icons/cur1158.png"), auto;
  }

  .player-hand {
    display: flex;
  }

  .opponent-stats {
    display: flex;
  }
  .stack-last-card{
    // margin-right:
    margin: 10px 100px 10px 0;
  }

  .score-wrapper {
    flex-direction: row;
    font-family: MedievalSharp;
    font-size: 1.0em;
    white-space: pre-wrap;
    max-width: 100px;
  }

  @font-face {
    font-family: MedievalSharp;
    src: url("./icons/MedievalSharp/MedievalSharp.ttf");
  }

  .last-card-stats {
    display: flex;
    flex-direction: row;
    font-family: MedievalSharp;
    white-space: pre-wrap;
  }

  %standard-card {
    display: flex;
    font-family: MedievalSharp;
    z-index: 5;
    margin: 10px;
    width: 150px;
    height: 250px;
    border: 2px solid black;
    border-radius: 5px;
  }

  .heart-code-card-standard {
    @extend %standard-card;
  }

  .heart-code-card-standard:hover {
    top: -20px;
  }

  .heart-code-card-standard-without-transformation {
    @extend %standard-card;
    font-size: 1.3em;
    text-align: center;
    flex-direction: column;
    margin: 0 auto;
  }

  .heart-code-card-standard-without-transformation span {
    flex: 1;
    font-size: 0.7em;
    color: white;
    margin-top: 95%;
    margin-bottom: 0%;
  }

  .heart-code-card-red {
    background: red;
    color: white;
    background-image: url("./icons/ember-shot\ \(1\).png");
    background-size: 100px 100px;
    background-repeat: no-repeat;
    background-position: center;
    /* content: 'attack point(s)'; */
  }

  .heart-code-card-green {
    background: rgb(121, 211, 121);
    color: white;
    background-image: url("./icons/magic-potion\ \(1\).png");
    background-size: 100px 100px;
    background-repeat: no-repeat;
    background-position: center;
    /* content: '+ health'; */
  }

  .heart-code-card-back {
    background-image: url("./icons/heart-code-logo.png");
    color: white;
    background-size: 100px 100px;
    background-repeat: no-repeat;
    background-position: center;
  }

  .heart-code-card-stack {
    background-image: url("./icons/heart-code-logo.png");
    background-size: 100px 100px;
    background-repeat: no-repeat;
    background-position: center;
  }

  .heart-code-card-blue {
    background: lightskyblue;
    color: white;
    background-image: url("./icons/magic-portal.png");
    background-size: 100px 100px;
    background-repeat: no-repeat;
    background-position: center;
    /* content: 'counter-card!'; */
  }

  .heart-code-card-black {
    background: grey;
    color: white;
    background-image: url("./icons/diablo-skull\ \(1\).png");
    background-size: 100px 100px;
    background-repeat: no-repeat;
    background-position: center;
    /* content: '10 attack points'; */
  }

  .heart-code-card-purple {
    background: purple;
    color: white;
    background-image: url("./icons/crenulated-shield.png");
    background-size: 100px 100px;
    background-repeat: no-repeat;
    background-position: center;
    /* content: '+10 health'; */
  }
}
/*



MOBILE SCALING





*/
@media only screen and (max-width: 640px) {
  .outer-paper {
    margin-top: 20px;
    margin: auto;
    padding: 20px;
    width: 80%;
    cursor: url("./icons/cur1158.png"), auto;
  }

  .player-hand {
    display: flex;
  }

  .opponent-stats {
    display: flex;
  }

  .score-wrapper {
    flex-direction: row;
    font-family: MedievalSharp;
    font-size: 2em;
    white-space: pre-wrap;
    // min-width: 100px;
  }

  @font-face {
    font-family: MedievalSharp;
    src: url("./icons/MedievalSharp/MedievalSharp.ttf");
  }

  .last-card-stats {
    display: flex;
    flex-direction: row;
    font-family: MedievalSharp;
    white-space: pre-wrap;
  }

  %standard-mobile-card {
    display: flex;
    font-family: MedievalSharp;
    font-size: 1em;
    z-index: 5;
    margin: 10px;
    width: 100px;
    height: 200px;
    border: 2px solid black;
    border-radius: 5px;
  }

  .heart-code-card-standard {
    @extend %standard-mobile-card;
  }

  .heart-code-card-standard:hover {
    top: -20px;
  }

  .heart-code-card-standard-without-transformation {
    @extend %standard-mobile-card;
    font-size: 1.3em;
    text-align: center;
    flex-direction: column;
  }

  .heart-code-card-standard-without-transformation span {
    flex: 1;
    font-size: 1.3em;
    color: white;
    margin-top: 95%;
    margin-bottom: 0%;
  }

  .heart-code-card-red {
    background: red;
    color: white;
    background-image: url("./icons/ember-shot\ \(1\).png");
    background-size: 100px 100px;
    background-repeat: no-repeat;
    background-position: center;
    /* content: 'attack point(s)'; */
  }

  .heart-code-card-green {
    background: rgb(121, 211, 121);
    color: white;
    background-image: url("./icons/magic-potion\ \(1\).png");
    background-size: 100px 100px;
    background-repeat: no-repeat;
    background-position: center;
    /* content: '+ health'; */
  }

  .heart-code-card-back {
    background-image: url("./icons/heart-code-logo.png");
    color: white;
    background-size: 100px 100px;
    background-repeat: no-repeat;
    background-position: center;
  }

  .heart-code-card-stack {
    background-image: url("./icons/heart-code-logo.png");
    background-size: 100px 100px;
    background-repeat: no-repeat;
    background-position: center;
  }

  .heart-code-card-blue {
    background: lightskyblue;
    color: white;
    background-image: url("./icons/magic-portal.png");
    background-size: 100px 100px;
    background-repeat: no-repeat;
    background-position: center;
    /* content: 'counter-card!'; */
  }

  .heart-code-card-black {
    background: grey;
    color: white;
    background-image: url("./icons/diablo-skull\ \(1\).png");
    background-size: 100px 100px;
    background-repeat: no-repeat;
    background-position: center;
    /* content: '10 attack points'; */
  }

  .heart-code-card-purple {
    background: purple;
    color: white;
    background-image: url("./icons/crenulated-shield.png");
    background-size: 100px 100px;
    background-repeat: no-repeat;
    background-position: center;
    /* content: '+10 health'; */
  }
}
